<div class="footer">
	<div class="row infooter">
		<div class="col-sm-3">
			<p>Help</p>
			<p>About Rotten Tomatoes</p>
			<p>Whats the Tomatometer?</p>
			<p>Feedback</p>
		</div>
		<div class="col-sm-3">
			<p>Critic submission</p>
			<p>Licensing</p>
			<p>Advertise</p>
			<p>Careers</p>
			
		</div>
		<div class="col-sm-3">
			<p> JOIN THE NEWSLETTER</p><i class="fa fa-envelope-o" aria-hidden="true"></i>
			<p>Get the freshest reviews, news, and more delivered right to your inbox!
			Join the Newsletter!</p>
			<button type="button" class="btn btn-info">Join the newsletter!</button>
		</div>
		<div class="col-sm-3">
			<p>FOLLOW US</p>
		</div>
	</div>
	
</div>