<div class="row custom">
				<div class="row">
					<div class="row pullRight">
						<div class="col-sm-5">
							<p>What's the Tomatometer?</p>
						</div>
						<div class="col-sm-3">
							<p>RT Critics</p>
						</div>
						<div class="col-sm-2">
							<p><%= link_to "About", about_path %></p>
							
						</div>
						<div class="col-sm-2">
							<p><%=link_to "Login", new_user_session_path %></p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<img class="img-responsive" src="https://staticv2-4.rottentomatoes.com/static/images/logos/rtlogo.png"> </a>
					</div>
					<div class="col-sm-4 inputBox">
						<input type="text" class="form-control" placeholder="Search movies, TV, actors, more...">
					</div>
					<div class="col-sm-5 topButtons">
						<div class="col-sm-3">
							<p>MOVIES DVD</p>
						</div>
						<div class="col-sm-1">
							<p>TV</p>
						</div>
						<div class="col-sm-2">
							<p>NEWS</p>
						</div>
						<div class="col-sm-6">
							<p>TICKETS SHOW TIME </p>
						</div>
					</div>
				</div>
			</div>
			<div class="row underNav">
				<div class="col-sm-6">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
				</div>
			</div>