$green:#339933;
$black:#000000;
$white:#FFFFFF;

.wrapper{
	max-width: 1000px;
	margin: auto;
}
.custom {
    background-color:$green;
    color:#ffffff;
}

.login {
    float: right;
    width: 75px;
    padding-right: 50px;
}

.signup {
    position: right;
    width: 10px;  
}

.border{
	border: 1px solid black;
}

.pullRight{
	float: right;
	 white-space: nowrap;
	font-size:small;
	padding-right: 50px;
}

.inputBox{
	margin-top: 30px;
}

.topButtons{
	margin-top: 40px;
	font-weight: bold;
	white-space: nowrap;
}

.underNav{
	margin-top: 1px;
	margin-bottom: 1px;	
	background-color: $black;
	color: #FFFFFF;
}
 
.fotos{
	white-space: nowrap;
}